/* BOOTSTRAPS */
  
@import "bootstrap-sprockets";
@import "bootstrap";

  /* FONTS */
  
 @import url(https://fonts.googleapis.com/css?family=Londrina+Outline);
 @import url(https://fonts.googleapis.com/css?family=Biryani:400,600,300);


 /* DEFAULTS */

 * {
   box-sizing: border-box;
 }

 html {
  font-family: 'Biryani', sans-serif; 
  font-size: 1.5rem; 
 }

a {
  color: #00a388;

  } 

a:hover {
  color: #00c3a3;

}

/* NAVBAR STYLINGS */

//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css

.navbar-default {
  background-color: #dddddd;
  border-color: #eeeeee;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #00c3a3;
}
.navbar-default .navbar-nav > li > a {
  font-family: 'Biryani', sans-serif; 
  color: #00a388;
  margin: .6rem;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #00c3a3;
}

.fa-home {
  margin-left: .6rem;
  float: left;
  clear: both; 
  font-size: 3rem;

}

.user-image img {
  height: 50px;
  margin: .6rem;
  border-radius: 2.5rem;

}

/* MAIN PAGE STYLINGS */


.fandom-formatter {
  font-family: 'Londrina Outline', cursive;
  font-size: 3rem; 
  font-weight: bold; 
  color: #00A388; /* southwest turquoise */
}

.text {
  font-family: 'Biryani', sans-serif; 
  font-weight: 300; 
  color: #00A388; /* southwest turquoise */
}
