/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* FONTS */
 
@import url(https://fonts.googleapis.com/css?family=Londrina+Outline);
@import url(https://fonts.googleapis.com/css?family=Biryani:400,600,300);

/* NAVBAR STYLINGS */

//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css

.navbar-default {
  background-color: #dddddd;
  border-color: #eeeeee;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #00c3a3;
}
.navbar-default .navbar-nav > li > a {
  color: #00a388;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #00c3a3;
}



/* MAIN PAGE STYLINGS */

.user-image img {
  float: left; 
  height: 50px;
  margin-left: 5rem;
  margin-top: 1rem; 
  border-radius: 2.5rem;

}

.fandom-formatter {
  font-family: 'Londrina Outline', cursive;
  font-size: 5rem; 
  font-weight: bold; 
  color: #00A388; /* southwest turquoise */
}


.form-control {

  height: 800px;
}
.text {
  font-family: 'Biryani', sans-serif; 
  font-weight: 300; 
  font-size: 16px; 
  color: #00A388; /* southwest turquoise */
}
.container a {
  color: #00A388; /* southwest turquoise */
}