  /* FONTS */
  
 @import url(https://fonts.googleapis.com/css?family=Londrina+Outline);
 @import url(https://fonts.googleapis.com/css?family=Biryani:400,600,300);


 /* DEFAULTS */

 * {
   box-sizing: border-box;
 }

 html {
  font-family: 'Biryani', sans-serif; 
  font-size: 1.5rem; 
 }

.text-area:focus{
    border-color: #00a388;
    -webkit-box-shadow: #00a388 1px 1px 1px;;
    box-shadow: #00a388 1px 1px 1px;
    outline: #00a388;
}

a {
  color: #00a388;
  } 

a:hover {
  color: #00c3a3;
  text-decoration: none; 
}

td {
  font-family: 'Biryani', sans-serif; 
  font-weight: 300; 
  color: #00A388; /* southwest turquoise */
}

/* NAVBAR STYLINGS */

.navbar-default {
  background-color: #f0f4f2;
  border-color: #f7f7f7;
}
.navbar-default .navbar-brand {
  color: #00a388;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #00c3a3;
}
.navbar-default .navbar-text {
  color: #00a388;
}

.navbar-default .navbar-nav > li > a {
  font-family: 'Biryani', sans-serif; 
  color: #00a388;
  margin: .6rem;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #00c3a3;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #00c3a3;
  background-color: #f7f7f7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #00c3a3;
  background-color: #f7f7f7;
}
.navbar-default .navbar-toggle {
  border-color: #f7f7f7;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #f7f7f7;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #00a388;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #00a388;
}
.navbar-default .navbar-link {
  color: #00a388;
}
.navbar-default .navbar-link:hover {
  color: #00c3a3;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #00a388;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #00c3a3;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #00c3a3;
    background-color: #f7f7f7;
  }
}

.fa-home {
  margin-left: .6rem;
  float: left;
  clear: both; 
  font-size: 3rem;

}

.user-image img {
  height: 50px;
  margin: .6rem;
  border-radius: 2.5rem;

}

/* MAIN PAGE STYLINGS */

.fandom-formatter {
  font-family: 'Londrina Outline', cursive;
  font-size: 3rem; 
  font-weight: bold; 
  color: #00A388; /* southwest turquoise */
}

.text {
  font-family: 'Biryani', sans-serif; 
  font-weight: 300; 
  color: #00A388; /* southwest turquoise */
}

/* ABOUT PAGE STYLINGS */

.about-text { 
  font-family: 'Biryani', sans-serif; 
  font-weight: 300; 
  color: #00A388; /* southwest turquoise */
  font-size: 0.8rem;
  padding: 0.25rem; 
  margin-left: 1rem; 
  margin-right: 1rem; 
}

.about-text a {
  color: #00705e;

}

.about-text a:hover {
  color: #00c3a3;

}
